.mainContent {
	
	background-color: #ffffff;
	line-height: 1.5em;
	font-size: 20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;

}


.nav-bar-custom {
	background-color: #ffffff;
	border-bottom: 5px solid #cccccc;
}

.topcolumn {
	margin-top: 30px;
}


/* the classes .nav-bar-logo and .nav-bar-push aligns things nicely at full screen but breaks when the screen resizes */
.nav-bar-logo {
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 24px;
	height: 45px;
	padding: 12.5px;
	margin-left: 365px;
}

.nav-bar-push {
	margin-right: 365px;
}

.bottomcolumn {
	margin-bottom: 30px;
}
.custom-footer {
	background-color: #666666;
	border-top: solid 5px #4aaaa5;
	text-align: center;
	color: #dddddd;
	height: 40px;
}
h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}
 
a {
	text-decoration: none;
	color: #777777;
}
body {
	background-color: rgba(221,221,221,0.5);
	/*background-image: url("../images/what-the-hex.png");
	background-repeat: repeat;	*/
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}
html {
	background: url(../images/what-the-hex.png) top left repeat;	
	background-position: top left;
	}
.opacity {
	background-color: #dddddd;
}


#indexPictureandText {
	margin-top: 30px;
 /*	height: 600px; */
}

.MainAboutMe {
	color: #4aaaa5;
	font-size: 24px;
	height: 50px;
	padding-top: 15px;
	border-bottom: 2px solid #dddddd;
}

input {
	width: 940px;
	
}

textarea {
	width: 940px;
	height: 300px;
}

.submitbutton {
	height: 35px;
	width: 95px;
	background-color:  #4aaaa5;
	color: #ffffff;
	padding: 0;
	border: none;
	font-size: 15px;
	
}

/*
.container {
	position: relative;
    text-align: left;
    color: white;
}
/*